.comments {
    //margin-top: 2.125em;
}

    .comments--list {
        margin: 0;
        padding: 0;
        list-style: none;

        ul,
        ol {
            margin-left: 0;
            margin-bottom: 0;
            padding: 0;
            @include rem-px('padding-left', 2.5rem);
            //TODO: Ask Michelle about design. Commented out because it looks odd with nested nested comments.
            //border-left: 1px solid $springLightGrey;
            list-style: none;
        }
    }

        .comment {
            @include clearfix();
            clear: both;

            .avatar {
                float: left;
                @include rem-px('width', 2rem);
                @include rem-px('height', 2rem);
                @include rem-px('margin-right', .25rem);
            }
        }

            .comment--body {
                float: right;
                width: 60%;
                @include css3-calc('width', '100% - 2.5rem');
                margin-bottom: 2.5em;
            }

                .comment--name {
                    @include rem-px('font-size', 1rem);
                    font-weight: bold;

                    a {
                        font-weight: bold;
                    }
                }

                .comment--byline {
                    @include rem-px('margin', 0, 0, .375rem, 0);

                    a {
                        font-style: italic;
                    }
                }

    .comments--respond {
        //margin-top: 2.125em;
    }

@media only screen and (min-width: #{$midBreakpoint}) {
    .comments--list {
        ol,
        ul {
            @include rem-px('padding-left', 5rem);
        }
    }

        .comment {
            .avatar {
                @include rem-px('width', 4rem);
                @include rem-px('height', 4rem);
                @include rem-px('margin-right', 1rem);
            }
        }

            .comment--body {
                @include css3-calc('width', '100% - 5rem');
            }
}