.header-main {
    position: relative;
	margin-bottom: 2em;
}

    .open-button-wrapper {
        position: relative;
        width: 100%;
        margin-top: 1.5em;
    }

        .open-button {
            position: absolute;
            top: 0;
            width: 2em;
            height: 2em;
            padding: .375em;
            background: $springLightGrey;
            border: 0;
            @include rounded(0);
            overflow: hidden;
            font-size: 1em;

            &:active,
            &:focus {
                outline: 0;
            }

            span {
                position: absolute;
                display: inline-block;
                left: 100%;
            }
        }

        .open-main-menu {
            left: 0;

            &:before {
                content: ' ';
                display: block;
                height: 11px;
                width: 100%;
                border-top: 4px solid white;
                border-bottom: 4px solid white;
                margin-bottom: 3px;
            }

            &:after {
                content: ' ';
                display: block;
                height: 0;
                width: 100%;
                border-top: 4px solid white;
            }
        }

        .open-sidebar {
            right: 0;


            &:before {
                content: ' ';
                display: block;
                height: 100%;
                border-left: 10px solid white;
                width: 19px;
                border-right: 6px solid white;
            }
        }

    .header--blog-name {
        margin: 1em auto 0 auto;
        @include rem-px('padding', 0, 1rem);

        a {
            display: block;
            height: 0;
            @include rem-px(margin-bottom, 1rem);
            padding-top: 36.1666666667%;
            background: url(assets/img/logo.png) no-repeat left top;
            background-size: 100% auto;
            @include hide-text();
        }
    }



@media only screen and (min-width: #{$smallBreakpoint}) {
    .header--blog-name {
        width: 70%;
        max-width: 9em;
    }
}



@media only screen and (min-width: #{$midBreakpoint}) {
    .header-main {
        margin-bottom: 0;
    }

        .header--inner {
            @include clearfix();
            padding: 0 3em;
        }

            .open-button-wrapper {
                display: none;
            }

            .header--blog-name {
                float: left;
                width: 9em;
                margin-top: 0;
            }
}



@media only screen and (min-width: #{$widescreenBreakpoint}) {
    .header--inner {
        @include rem-px('max-width', 84.5rem);
        @include center-block;
    }
}