.nav-quicklinks {
    width: 100%;
    background: $springDarkGrey;

    a {
        color: $springLightGrey;
        font-weight: 200;
    }
}

    .quicklinks-menu {
        margin: 0;
        padding: .5em 1em;

        li {
            display: inline-block;
            margin: 0;
            padding: 0 .5em;
            list-style: none;
        }
    }

.nav-main {
	position: absolute;
    right: 100%;
    top: 0;
    width: 80%;
    padding: 1em;

    ul {
        list-style: none;
    }
}

    .nav-main--menu {
        margin: 0;
        padding: 0;
    }

        .menu-item {
            padding: 0;
            margin-bottom: 0;

            &:last-child {
                border-bottom: 0;
            }

            a,
            a:visited {
                display: block;
                padding: .5em 0;
                @include transition(color .2s);
                color: $linkColor;

                &:hover {
                    color: darken($linkColor, 5%);
                }
            }
        }

.nav-pager {
    @include clearfix();
}

    .pager {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .pager--previous {
            float: left;
        }

        .pager--next {
            float: right;
        }




@media only screen and (min-width: #{$midBreakpoint}) {
    .nav-main {
        float: right;
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        width: auto;
        text-transform: uppercase;
    }

        .menu-item {
            display: inline-block;

            & > a {
                padding: .25em .5em;
            }
        }

            .sub-menu {
                display: none;
            }
}




@media only screen and (min-width: #{$widescreenBreakpoint}) {
    .quicklinks-menu {
        @include rem-px('max-width', 84.5rem);
        @include center-block();
    }
}