.post {
    @include clearfix();
    margin-bottom: 2em;
}

    .post--title {
        margin-bottom: 0;

        a {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .post--thumbnail {
        width: 100%;
        margin:1em 0;
    }

    .post--byline {
        @include rem-px('margin', 0, 0, .875rem, 0);
        font-size: .75em;
        font-style: italic;

        a {
            font-style: italic;
        }
    }

    .post--metadata {
        font-size: .875em;
    }

        .post--metadata--title {
            font-weight: bold;
        }

    .post--hr {
        width: 50%;
        margin: 3em auto;
    }

//TODO: Sticky post styles