.content--sidebar {
    position: absolute;
    left: 100%;
    top: 0;
    width: 80%;
    padding: 5%;
}

    .widget {
        margin-bottom: 1.5em;
    }

@media only screen and (min-width: #{$midBreakpoint}) {
    //approximate min-width: 768px
    .content--sidebar {
        position: relative;
        left: auto;
        top: auto;
        width: 100%;
        margin-top: 2.5%;
        padding: 2.5%;
        border: 1px solid $lightGrey;
        @include clearfix();
    }
}

@media only screen and (min-width: #{$largeBreakpoint}) {
    //approximate min-width: 992px
    .content--sidebar {
        width: 31.33333333333%;
        padding: 0;
        border: 0;
        margin-top: 0;
    }

    .no-flexbox {
        .content--sidebar {
            float: right;
            @include grid-column(4, 100%, 12);
        }
    }
}