// ---- ---- ---- ---- VARIABLES ---- ---- ---- ----

// Site Colors
$springGreen: #84b100;
$springLightGreen: #bada55;
$springBlack: #322e2f;
$springDarkGrey: #58595b;
$springGrey: #92948f;
$springLightGrey: #d3d5cb;
$springWhite: #f4f4f2;

// Greys
$black: rgb(0,0,0); //#000000
$darkerGrey: lighten($black, 10%);
$darkGrey: lighten($black, 25%); //#404040
$midGrey: lighten($black, 50%); //#808080
$lightGrey: lighten($black, 75%); //#bfbfbf
$lighterGrey: lighten($black, 90%); //#e6e6e6
$white: rgb(255,255,255); //#ffffff

// Root
$bodyColor: $springWhite;
$textColor: $springDarkGrey;
$columnMargin: .5em;
$gutter: 1em;
$warningColor: red;
$textFontSize: .875rem;

// Typography
$baseFont: 'Source Sans Pro', sans-serif;
$baseFontSize: 100%;
$baselineHeight: 1.1em;
$headingFont: $baseFont;
$headingLineHeight: 1.1;

$h1Color: $springBlack;
$h1Size: 2.25em;
$h1FontWeight: 200;

$h2Color: $springDarkGrey;
$h2Size: 1.75em;
$h2FontWeight: 200;

$h3Color: $springDarkGrey;
$h3Size: 1.5em;
$h3FontWeight: 200;

$h4Color: $springDarkGrey;
$h4Size: 1em;
$h4FontWeight: 200;

$h5Color: $springGrey;
$h5Size: 1em;
$h5FontWeight: 300;

$h6Color: $springGrey;
$h6Size: .875em;
$h6FontWeight: 200;

$headingTextShadow: none;
$codeFont: 'Source Code Pro', sans-serif;

// Links
$linkColor: $springGreen;
$linkHover: darken($linkColor,5%);
$linkVisited: darken($linkColor,10%);
$linkFocus: darken($linkColor,15%);

// Forms
$textboxBackground: $springWhite;
$textboxBorderColor: $springLightGrey;
$textboxBorderColorActive: $springGreen;
$textboxBorderWidth: 1px;
$textboxBorderStyle: solid;
$textboxColor: $textColor;
$textboxPlaceholderColor: $springLightGrey;
$textboxPlaceholderSize: .875em;
$textboxPlaceholderStyle: normal; //Change to italic if you want placeholder text to be italic.
$textboxPadding: .5em;
$textboxOutline: none;
$textboxMaxWidth: 30em;

$labelFontSize: 1.125em;
$labelColor: $textColor;

$buttonBackground: $springGreen;
$buttonBackground2: $springLightGreen; //Uncomment if you want a gradient background on a button. Also uncomment gradient in
$buttonBorderColor: darken($buttonBackground,5%);
$buttonBorderWidth: 1px;
$buttonBorderStyle: solid;
$buttonColor: $springWhite;
$buttonOutlineColor: $springGreen;
$buttonFont: $baseFont;
$buttonFontSize: 1em;
$buttonFontWeight: 200;
$buttonPadding: .5em 2em;

$buttonAltBackground: $springDarkGrey;
$buttonAltBackground2: $springLightGrey;

// Tables
$tableBackground: transparent;
$tableStripe: $springLightGrey;
$tableFontSize: .875em;
$tableLineHeight: 1.4em;
$tableBorderWidth: 1px;
$tableBorderStyle: solid;
$tableBorderColor: $springLightGrey;
$tableHover: transparent;

// Blockquotes
$blockquoteMargin: 0 0 1em 0;
$blockquotePaddingLeft: 0;
$blockquoteBorderWidth: 0;
$blockquoteBorderStyle: solid;
$blockquoteBorderColor: $springLightGrey;
$blockquoteFontFamily: $headingFont;
$blockquoteFontSize: 1.25rem;
$blockquoteFontStyle: italic;

// Breakpoints
$smallBreakpoint: 30.5em;
$midBreakpoint: 48.5em;
$largeBreakpoint: 62.5em;
$widescreenBreakpoint: 84em;